# python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
.eggs/
venv/
.venv/

# модели и данные 
*.pkl
*.csv
*.joblib
data/

# mlflow
mlruns/
mlartifacts/

# terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!terraform/terraform.tfvars.example

# ide
.vscode/
.idea/

# jupyter
.ipynb_checkpoints/
*.ipynb

# docker
*.tar

*.log
